### 1. 

En el archivo "logistic_regression_df_class" hemos visto un ejemplo multiclase. Elimina del dataframe todas las filas que se correspondan con la clase valor "1".

Ahora, realiza el ejercicio con el nuevo dataframe:

- ¿Se mejora la precisión del algoritmo con dos clases? ¿por qué?

LogisticRegression() es una clase que tiene varios parámetros de entrada. Investiga (modifica, prueba) los argumentos y comenta si modificando algunas de ellas se mejora el porcentaje de acierto del problema (probar al menos 2 diferentes)

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [1]:

import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib as plt
from sklearn import metrics
import seaborn as sns

In [2]:
df = pd.read_csv('../data/usuarios_win_mac_lin.csv')
df

     duracion  paginas  acciones  valor  clase
0         7.0        2         4      8      2
1        21.0        2         6      6      2
2        57.0        2         4      4      2
3       101.0        3         6     12      2
4       109.0        2         6     12      2
..        ...      ...       ...    ...    ...
165      13.0        1         7     42      0
166      12.0        1         2      6      0
167      13.0        1         3      9      0
168      13.0        1         7     28      0
169      12.0        1         6     18      0

[170 rows x 5 columns]

In [3]:
df = df[(df['clase'] == 2) | (df['clase'] == 1)]
df

     duracion  paginas  acciones  valor  clase
0         7.0        2         4      8      2
1        21.0        2         6      6      2
2        57.0        2         4      4      2
3       101.0        3         6     12      2
4       109.0        2         6     12      2
..        ...      ...       ...    ...    ...
125      11.0        1         2      4      2
126      13.0        1         1      1      2
127      11.0        1         3      3      2
128      12.0        1         1      1      2
129      11.0        1         1      2      2

[84 rows x 5 columns]

In [4]:
x = df[['duracion', 'paginas', 'acciones', 'valor']]
x.shape

(84, 4)

In [5]:
y = df['clase']
y.shape

(84,)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2, random_state= 42)

In [7]:
lm = linear_model.LogisticRegression(n_jobs=-1)
lm.fit(x_train, y_train)

LogisticRegression(n_jobs=-1)

In [8]:
prediction = lm.predict(x_test)
prediction

array([2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1], dtype=int64)

In [9]:
y_test

119    2
0      2
104    1
22     1
12     2
116    2
10     2
18     1
4      2
111    2
40     1
47     1
35     2
127    2
101    1
100    1
33     1
Name: clase, dtype: int64

In [10]:
lm.score(x_test, y_test)

1.0

In [11]:
lm.score(x,y)

1.0