### 1. 

En el archivo "logistic_regression_digits" hemos visto un ejemplo multiclase. Elimina todas las imágenes y etiqueta (label) cuyo valor del label no sea 1 o 9. Es decir, elimina todos los dígitos y quédate solo con los dígitos 1 y 9.

Ahora, realiza un entrenamiento con logistic regression con los nuevos datos:

- ¿Se mejora la precisión del algoritmo con dos clases? ¿por qué?

LogisticRegression() es una clase que tiene varios parámetros de entrada. Investiga (modifica, prueba) los argumentos y comenta si modificando algunas de ellas se mejora el porcentaje de acierto del problema (probar al menos 2 diferentes)

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [1]:

import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib as plt
from sklearn import metrics
import seaborn as sns

In [2]:

from sklearn.datasets import load_digits
digits = load_digits()

In [3]:

df = pd.DataFrame(data= np.c_[digits['data'], digits['target']])

In [4]:
df_1_9 = df[(df.iloc[:,64] == 1) | (df.iloc[:,64] == 9)].reset_index(drop=True)
df_1_9

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1.0
1,0.0,0.0,11.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,9.0,12.0,13.0,3.0,0.0,0.0,9.0
2,0.0,0.0,0.0,0.0,14.0,13.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,13.0,16.0,1.0,0.0,1.0
3,0.0,0.0,6.0,14.0,4.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,7.0,16.0,16.0,13.0,11.0,1.0,9.0
4,0.0,0.0,0.0,2.0,16.0,16.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,12.0,15.0,4.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,0.0,0.0,5.0,14.0,11.0,8.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,7.0,15.0,12.0,5.0,0.0,0.0,9.0
358,0.0,0.0,6.0,12.0,12.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,11.0,10.0,4.0,0.0,0.0,1.0
359,0.0,0.0,4.0,14.0,15.0,6.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,4.0,13.0,15.0,9.0,0.0,0.0,9.0
360,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9.0
361,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9.0

In [5]:

x = df_1_9.iloc[:,:64]

In [6]:
y = df_1_9[64]

In [7]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state= 42)

In [8]:
lm = linear_model.LogisticRegression(n_jobs=-1)
lm.fit(x_train, y_train)

LogisticRegression(n_jobs=-1)

In [9]:
predictions = lm.predict(x_test)
predictions

array([9., 9., 1., 9., 9., 9., 9., 1., 9., 9., 9., 1., 9., 1., 9., 9., 1.,
       1., 1., 9., 1., 1., 9., 9., 1., 1., 1., 1., 1., 1., 9., 9., 1., 1.,
       9., 1., 9., 1., 9., 9., 9., 1., 1., 9., 9., 1., 1., 9., 9., 1., 1.,
       9., 9., 1., 1., 1., 1., 9., 1., 1., 9., 9., 9., 1., 1., 1., 1., 9.,
       1., 9., 1., 9., 1.])

In [10]:
y_test

163    9.0
33     9.0
15     1.0
322    9.0
57     9.0
      ...
297    1.0
82     9.0
94     1.0
341    9.0
303    1.0
Name: 64, Length: 73, dtype: float64

In [11]:

lm.score(x_test, y_test)

0.9863013698630136

In [12]:
import sklearn.metrics as metrics
metrics.confusion_matrix(y_test, predictions)

array([[37,  0],
       [ 1, 35]], dtype=int64)