In [1]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt
import pyodbc

In [8]:
Brent = pd.read_csv('../Data/Def_Data/Brent_yearly.csv')
Brent.rename(columns={'Unnamed: 0': 'YEAR'})

    YEAR  Brent price
0   1992    19.319728
1   1993    17.013413
2   1994    15.856389
3   1995    17.015850
4   1996    20.639803
5   1997    19.108508
6   1998    12.758103
7   1999    17.901566
8   2000    28.660672
9   2001    24.455720
10  2002    24.993255
11  2003    28.850814
12  2004    38.259693
13  2005    54.574553
14  2006    65.161765
15  2007    72.441160
16  2008    96.944348
17  2009    61.738770
18  2010    79.609444
19  2011   111.264274
20  2012   111.570683
21  2013   108.555000
22  2014    98.969606
23  2015    52.316549
24  2016    43.638000
25  2017    54.124805
26  2018    71.335000
27  2019    64.319845
28  2020    42.101016
29  2021    54.689375

In [14]:
seatrade = pd.read_csv('../Data/Def_Data/df_sea_trade.csv')
seatrade = seatrade.drop(columns=['Unnamed: 0'])
seatrade

,YEAR,"""Crude oil loaded""","""Other tanker trade loaded""","""Dry cargo loaded""","""Total goods loaded""","""Crude oil unloaded""","""Other tanker trade unloaded"""
0,1970-01-01,1207.000,233.0000,1165.000,2605.000,1101.000,298.0000
1,1971-01-01,1210.000,320.0000,1162.000,2692.000,1199.000,300.0000
2,1972-01-01,1321.000,332.0000,1221.000,2874.000,1325.000,316.0000
3,1973-01-01,1514.000,353.0000,1407.000,3274.000,1521.000,339.0000
4,1974-01-01,1497.000,335.0000,1472.000,3304.000,1470.000,312.0000
5,1975-01-01,1364.000,280.0000,1428.000,3072.000,1373.000,287.0000
6,1976-01-01,1555.000,289.0000,1522.000,3366.000,1522.000,312.0000
7,1977-01-01,1599.000,293.0000,1576.000,3468.000,1585.000,321.0000
8,1978-01-01,1604.000,296.0000,1650.000,3550.000,1634.000,321.0000
9,1979-01-01,1725.000,318.0000,1785.000,3828.000,1724.000,308.0000
10,1980-01-01,1527.000,344.0000,1833.000,3704.000,1530.000,326.0000
11,1981-01-01,1364.000,327.0000,1864.000,3555.000,1363.000,310.0000
12,1982-01-01,1163.000,350.0000,1760.000,3273.000,1283.000,330.0000
13,1983-01-01,1069.000,392.0000,1770.000,3231.000,1133.000,349.0000
14,1984-01-01,1079.000,399.0000,1886.000,3364.000,1166.000,371.0000
15,1985-01-01,1049.000,410.0000,1895.000,3330.000,1128.000,367.0000
16,1986-01-01,1126.000,424.0000,1835.000,3385.000,1220.000,390.0000
17,1987-01-01,1107.000,441.0000,1987.000,3505.000,1110.000,408.0000
18,1988-01-01,1160.000,456.0000,2119.000,3735.000,1194.000,422.0000
19,1989-01-01,1260.000,468.0000,2212.000,3940.000,1300.000,433.0000
20,1990-01-01,1287.000,468.0000,2253.000,4008.000,1315.000,466.0000
21,1991-01-01,1333.000,457.0000,2330.000,4120.000,1355.000,441.0000
22,1992-01-01,1394.000,466.0000,2360.000,4220.000,1414.000,451.0000
23,1993-01-01,1443.000,502.0000,2385.000,4330.000,1465.000,480.0000
24,1994-01-01,1498.000,509.0000,2478.000,4485.000,1508.000,490.0000
25,1995-01-01,1532.000,518.0000,2601.000,4651.000,1550.000,508.0000
26,1996-01-01,1590.000,537.0000,2631.000,4758.000,1599.000,480.0000
27,1997-01-01,1626.000,546.0000,2781.000,4953.000,1625.000,522.0000
28,1998-01-01,1548.000,534.0000,3549.000,5631.000,1515.000,548.0000
29,1999-01-01,1553.000,532.0000,3598.000,5683.000,1543.000,510.0000
30,2000-01-01,1605.000,558.0000,3821.000,5984.000,1633.000,513.0000
31,2001-01-01,1678.000,499.0000,3844.000,6020.000,1712.000,534.0000
32,2002-01-01,1637.000,509.0000,3981.000,6127.000,1696.000,540.0000
33,2003-01-01,1690.000,533.0000,4257.000,6480.000,1743.000,536.0000
34,2004-01-01,1770.000,546.0000,4442.000,6758.000,1773.000,545.0000
35,2005-01-01,1857.000,565.0000,4687.000,7109.000,1854.000,573.0000
36,2006-01-01,1783.415,914.9099,5003.782,7702.107,1939.890,897.1749
37,2007-01-01,1813.685,933.6598,5288.885,8036.231,1996.193,901.6196
38,2008-01-01,1784.849,957.1575,5485.523,8227.529,1942.790,932.7750
39,2009-01-01,1710.139,931.1412,5176.829,7818.109,1874.597,922.6986
40,2010-01-01,1784.592,967.7164,5648.615,8400.924,1939.385,970.5974
41,2011-01-01,1750.981,1028.4740,5959.098,8738.553,1897.015,1039.3070
42,2012-01-01,1785.425,1054.7080,6357.247,9197.381,1930.007,1055.8430
43,2013-01-01,1737.674,1090.5820,6624.669,9452.926,1881.765,1090.6640
44,2014-01-01,1711.701,1121.5000,6983.243,9816.443,1850.156,1087.5590
45,2015-01-01,1760.751,1178.0500,7074.325,10013.130,1909.958,1175.4690
46,2016-01-01,1832.259,1238.1070,7176.248,10246.610,1985.472,1234.7660
47,2017-01-01,1874.572,1279.0150,7560.303,10713.890,2033.454,1287.8850
48,2018-01-01,1881.053,1319.7450,7818.362,11019.160,2048.803,1338.5500
49,2019-01-01,1860.158,1308.3620,7907.397,11075.920,2033.371,1329.3220

In [17]:
GDP = pd.read_csv('../Data/Def_Data/GDP_world.csv')
GDP = GDP.drop(columns=['Unnamed: 0'])
GDP

,Year,Series Label,Economy,Economy Label,US dollars at current prices in millions,US dollars at current prices per capita,US dollars at constant prices (2015) in millions,US dollars at constant prices (2015) per capita
0,1970,"""Total gross domestic product""",0,"""World""",3.418983e+06,923.906,1.806763e+07,4881.947
1,1971,"""Total gross domestic product""",0,"""World""",3.762621e+06,996.473,1.885772e+07,4993.754
2,1972,"""Total gross domestic product""",0,"""World""",4.330234e+06,1124.162,1.988501e+07,5161.943
3,1973,"""Total gross domestic product""",0,"""World""",5.268748e+06,1341.349,2.115918e+07,5386.243
4,1974,"""Total gross domestic product""",0,"""World""",5.969122e+06,1490.789,2.161636e+07,5398.038
5,1975,"""Total gross domestic product""",0,"""World""",6.674681e+06,1636.116,2.177976e+07,5337.992
6,1976,"""Total gross domestic product""",0,"""World""",7.212560e+06,1735.971,2.293311e+07,5518.946
7,1977,"""Total gross domestic product""",0,"""World""",8.120307e+06,1919.873,2.388083e+07,5645.240
8,1978,"""Total gross domestic product""",0,"""World""",9.617876e+06,2234.337,2.489147e+07,5781.576
9,1979,"""Total gross domestic product""",0,"""World""",1.107070e+07,2527.261,2.589928e+07,5911.329
10,1980,"""Total gross domestic product""",0,"""World""",1.237290e+07,2775.435,2.638664e+07,5917.809
11,1981,"""Total gross domestic product""",0,"""World""",1.262317e+07,2782.243,2.687096e+07,5921.473
12,1982,"""Total gross domestic product""",0,"""World""",1.253298e+07,2714.227,2.698193e+07,5842.248
13,1983,"""Total gross domestic product""",0,"""World""",1.285096e+07,2734.411,2.774339e+07,5902.058
14,1984,"""Total gross domestic product""",0,"""World""",1.321703e+07,2762.662,2.902974e+07,6066.751
15,1985,"""Total gross domestic product""",0,"""World""",1.357157e+07,2786.140,3.005883e+07,6169.687
16,1986,"""Total gross domestic product""",0,"""World""",1.564700e+07,3154.212,3.104338e+07,6256.575
17,1987,"""Total gross domestic product""",0,"""World""",1.769997e+07,3503.171,3.218261e+07,6368.108
18,1988,"""Total gross domestic product""",0,"""World""",1.980293e+07,3848.667,3.363759e+07,6535.852
19,1989,"""Total gross domestic product""",0,"""World""",2.070428e+07,3953.151,3.487044e+07,6656.350
20,1990,"""Total gross domestic product""",0,"""World""",2.300870e+07,4319.701,3.590816e+07,6741.472
21,1991,"""Total gross domestic product""",0,"""World""",2.415053e+07,4461.167,3.637486e+07,6719.286
22,1992,"""Total gross domestic product""",0,"""World""",2.582734e+07,4697.487,3.713093e+07,6753.388
23,1993,"""Total gross domestic product""",0,"""World""",2.630261e+07,4713.068,3.778855e+07,6771.191
24,1994,"""Total gross domestic product""",0,"""World""",2.806311e+07,4956.113,3.902721e+07,6892.439
25,1995,"""Total gross domestic product""",0,"""World""",3.114137e+07,5422.146,4.023125e+07,7004.821
26,1996,"""Total gross domestic product""",0,"""World""",3.180687e+07,5461.323,4.167448e+07,7155.615
27,1997,"""Total gross domestic product""",0,"""World""",3.166590e+07,5363.326,4.332255e+07,7337.639
28,1998,"""Total gross domestic product""",0,"""World""",3.147589e+07,5260.118,4.455766e+07,7446.287
29,1999,"""Total gross domestic product""",0,"""World""",3.268763e+07,5391.071,4.611873e+07,7606.222
30,2000,"""Total gross domestic product""",0,"""World""",3.363679e+07,5476.065,4.815714e+07,7839.975
31,2001,"""Total gross domestic product""",0,"""World""",3.346481e+07,5378.804,4.916493e+07,7902.287
32,2002,"""Total gross domestic product""",0,"""World""",3.479776e+07,5522.827,5.028457e+07,7980.771
33,2003,"""Total gross domestic product""",0,"""World""",3.904405e+07,6119.671,5.185642e+07,8127.851
34,2004,"""Total gross domestic product""",0,"""World""",4.395196e+07,6803.677,5.418128e+07,8387.157
35,2005,"""Total gross domestic product""",0,"""World""",4.762315e+07,7280.994,5.638126e+07,8620.000
36,2006,"""Total gross domestic product""",0,"""World""",5.161224e+07,7793.657,5.893363e+07,8899.216
37,2007,"""Total gross domestic product""",0,"""World""",5.818662e+07,8678.409,6.152137e+07,9175.779
38,2008,"""Total gross domestic product""",0,"""World""",6.380942e+07,9400.473,6.276845e+07,9247.116
39,2009,"""Total gross domestic product""",0,"""World""",6.053532e+07,8809.527,6.197092e+07,9018.447
40,2010,"""Total gross domestic product""",0,"""World""",6.627256e+07,9527.899,6.472386e+07,9305.246
41,2011,"""Total gross domestic product""",0,"""World""",7.368441e+07,10466.562,6.684461e+07,9494.997
42,2012,"""Total gross domestic product""",0,"""World""",7.525725e+07,10562.999,6.868643e+07,9640.729
43,2013,"""Total gross domestic product""",0,"""World""",7.739724e+07,10735.686,7.057643e+07,9789.579
44,2014,"""Total gross domestic product""",0,"""World""",7.933487e+07,10876.697,7.272670e+07,9970.727
45,2015,"""Total gross domestic product""",0,"""World""",7.498574e+07,10162.733,7.498574e+07,10162.733
46,2016,"""Total gross domestic product""",0,"""World""",7.617381e+07,10207.264,7.700576e+07,10318.744
47,2017,"""Total gross domestic product""",0,"""World""",8.105693e+07,10740.960,7.959697e+07,10547.499
48,2018,"""Total gross domestic product""",0,"""World""",8.611535e+07,11286.798,8.209149e+07,10759.407
49,2019,"""Total gross domestic product""",0,"""World""",8.744507e+07,11338.682,8.408770e+07,10903.344

In [ ]:
conn = sql.connect()

In [2]:
ip_dns = "54.87.229.244"
port = 25001
user = '16092222L'
password = 'jaraiz37'
bd_name = '16092222L_ds_april_2021_db'

In [6]:
conn = {'IP_DNS': ip_dns, 'PORT': port, 'USER': user, 'PASSWORD': password, 'BD_NAME': bd_name}

In [9]:
connection = sql.Connection(conn)

TypeError: expected str, bytes or os.PathLike object, not dict