# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

In [ ]:
1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [3]:
student_list = ["Adriá","Daniel","Gina","Javier","Jonathan","José","Juan","Karina","Leonardo","Mary","Miguel","Nacho","Nacho","Pablo","Sonia","Xinru","Garcipaldis","Isabel","Jonathan","Jorge","Maria","Marina","Marina","Maryam","Pablo","Mauro","Susana"]
print(student_list)

['Adriá', 'Daniel', 'Gina', 'Javier', 'Jonathan', 'José', 'Juan', 'Karina', 'Leonardo', 'Mary', 'Miguel', 'Nacho', 'Nacho', 'Pablo', 'Sonia', 'Xinru', 'Garcipaldis', 'Isabel', 'Jonathan', 'Jorge', 'Maria', 'Marina', 'Marina', 'Maryam', 'Pablo', 'Mauro', 'Susana']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [ ]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [4]:
my_list = [1, 2 , 3 , "a", "b"]

3. Find the length of **my_list**

In [5]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [7]:
print(my_list[0])
print(my_list[2])
print(my_list[-1])

1
3
b

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [10]:
name = "Javier"
age = 29
height = 1.80
country = "Spain"
python_version = 3.89

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [11]:
mixed_data_types = [name, age, height, country, python_version]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [12]:
it_companies =["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]


8. Print **it_companies** using print()

In [13]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [14]:
print(len(it_companies))

7

11. Print *Google*

In [15]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [16]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [33]:
it_companies[-1] = "Huawei"

12. Print the list after modifying one of the companies

In [34]:
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Huawei', 'Google', 'Facebook', 'Apple', 'Huawei']

## Bonus track.

13. Add an IT company to **it_companies**

In [35]:
it_companies.append("Amazon")

14. Check if *Apple* exists in the **it_companies** list.

In [22]:
if "Apple" in it_companies:
    print(True)
else:
    print(False)

True

15. Sort the list using `sort()` method

In [24]:
it_companies.sort()
it_companies

['Amazon',
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'Huawei',
 'IBM',
 'Microsoft',
 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [25]:
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Huawei', 'Google', 'Facebook', 'Apple', 'Amazon', 'Amazon']

17. Slice out the first 3 companies from the list

In [31]:
print(it_companies[:3])

['Oracle', 'Microsoft', 'IBM']

18. Remove the last IT company from the list

In [32]:
last = it_companies[-1]
it_companies.remove(last)
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Huawei', 'Google', 'Facebook', 'Apple', 'Amazon']

19. Remove all IT companies from the list

In [41]:
all = it_companies[0:len(it_companies)]
it_companies.remove(all)
print(it_companies)

ValueError: list.remove(x): x not in list

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [46]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
print(end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [47]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [48]:
print(end[0][-1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [49]:
tup = ("T",)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [50]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [51]:
tup.append("H")
# Tupples are not muttable

AttributeError: 'tuple' object has no attribute 'append'

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [54]:
tup = list(tup)
add=["T","H","E"," ","B", "R","I","D","G","E"]
tup = tup + add
tup = tuple(tup)
print(tup)

('T', 'T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [56]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [59]:
my_set=set(lista_repes)
print(my_set)

{'data', 'clara', 'gabriel', 'diomedes', 'science', 'python'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [60]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [61]:
my_set = list(my_set)
print(my_set)

['data', 'clara', 'gabriel', 'diomedes', 'science', 'python']