# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [132]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [133]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(address, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [134]:

price = [float(x[1:-1]) for x in chipo.item_price]
chipo.item_price = price
filtered_chipo = chipo.drop_duplicates(["item_name", "quantity", "choice_description"])
filtered_chipo.item_price.max()
solo_uno = filtered_chipo[filtered_chipo.quantity == 1]
solo_uno.item_price.max()

11.89

### Step 4. How many products cost more than $10.00?

In [135]:
f = lambda x: x > 10 
filtered_chipo.item_price.apply(f).value_counts()

False    1155
True      794
Name: item_price, dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [136]:
filtered_chipo = chipo.drop_duplicates(["item_name", "quantity", "choice_description"])
filtered_chipo[["item_name","item_price"]]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4602                       Barbacoa Burrito        9.25
4607                          Steak Burrito       11.75
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25

[1949 rows x 2 columns]

### Step 6. Sort by the name of the item

In [137]:

filtered_chipo["item_name"]

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4602                         Barbacoa Burrito
4607                            Steak Burrito
4610                            Steak Burrito
4611                           Veggie Burrito
4612                            Carnitas Bowl
Name: item_name, Length: 1949, dtype: object

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [145]:
solo_uno.loc[solo_uno.item_price == solo_uno.item_price.max(), ["item_name", "quantity", "choice_description"]]

,item_name,quantity,choice_description
606,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua..."
749,Steak Salad Bowl,1,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett..."
1132,Carnitas Salad Bowl,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees..."
1159,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,..."
1229,Barbacoa Salad Bowl,1,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,..."
1311,Steak Salad Bowl,1,"[Roasted Chili Corn Salsa, [Fajita Vegetables,..."
1326,Barbacoa Salad Bowl,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
1505,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees..."
1571,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ..."
1590,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
1816,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees..."
2401,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca..."
2439,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
2442,Barbacoa Salad Bowl,1,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve..."
2610,Carnitas Salad Bowl,1,"[Roasted Chili Corn Salsa, [Fajita Vegetables,..."
2740,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Black..."
2804,Steak Salad Bowl,1,"[Tomatillo Red Chili Salsa, [Rice, Black Beans..."
2957,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua..."
3120,Steak Salad Bowl,1,"[Roasted Chili Corn Salsa, [Fajita Vegetables,..."
3208,Barbacoa Salad Bowl,1,"[Tomatillo Red Chili Salsa, [Black Beans, Chee..."
3350,Steak Salad Bowl,1,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu..."
3493,Steak Salad Bowl,1,"[Roasted Chili Corn Salsa, [Fajita Vegetables,..."
3546,Barbacoa Salad Bowl,1,"[Fresh Tomato Salsa, Guacamole]"
3749,Carnitas Salad Bowl,1,"[Roasted Chili Corn Salsa, [Fajita Vegetables,..."
4239,Carnitas Salad Bowl,1,"[Tomatillo Green Chili Salsa, [Black Beans, Ch..."
4313,Steak Salad Bowl,1,"[Roasted Chili Corn Salsa, [Fajita Vegetables,..."

V2

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [139]:
chipo.loc[chipo.item_name== "Veggie Salad Bowl","quantity"].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [140]:
type(x for x in chipo.quantity)

generator

In [141]:
soda = chipo.loc[chipo.item_name == "Canned Soda"]
len(soda.loc[soda.quantity > 1, "quantity"])

20