In [1]:
import pandas as pd
import dtale
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import datetime
from utils import normalize_dataframe
from utils import count_numbers_in_column

In [2]:
df_fleet = pd.read_csv('./Cleaned_Data/cleaned_fleet.csv')

In [3]:
df_fleet = df_fleet[df_fleet['Economy Label'] == 'World']

In [4]:
df_fleet

,Unnamed: 0,Year,Economy,Economy Label,ShipType,ShipType Label,Dead weight tons in thousands,Percentage of total world,Percentage of total fleet
0,0,1980,0000,World,0,Total fleet,672142.488,100.0,100.00000
1,1,1980,0000,World,1,Oil tankers,337895.557,100.0,50.27142
2,2,1980,0000,World,2,Bulk carriers,181880.282,100.0,27.05978
3,3,1980,0000,World,3,General cargo,112840.897,100.0,16.78824
4,4,1980,0000,World,4,Container ships,10290.114,100.0,1.53094
...,...,...,...,...,...,...,...,...,...
77552,77552,2020,0000,World,1,Oil tankers,601544.100,100.0,29.07457
77553,77553,2020,0000,World,2,Bulk carriers,879330.459,100.0,42.50088
77554,77554,2020,0000,World,3,General cargo,76139.507,100.0,3.68007
77555,77555,2020,0000,World,4,Container ships,274856.487,100.0,13.28470
77556,77556,2020,0000,World,5,Other types of ships,237099.636,100.0,11.45979

In [5]:
df_fleet = df_fleet.groupby(['Year','ShipType Label'])[['Dead weight tons in thousands', 'Percentage of total fleet']].sum()

In [6]:
df_fleet.to_csv('./Def_Data/df_fleet.csv')

In [7]:
df_owners = pd.read_csv('./Cleaned_Data/cleaned_owners.csv')

In [8]:
df_owners = df_owners[df_owners['FlagOfRegistration Label'] == 'Total all flags']

In [9]:
df_owners

,Unnamed: 0,Year,FlagOfRegistration,FlagOfRegistration Label,BeneficialOwnership,BeneficialOwnership Label,Dead weight tons in thousands,Percentage of total fleet,Number of ships
0,0,2014,0,Total all flags,0000,World,1677345.179,100.00000,47497
1,1,2014,0,Total all flags,0000u,World n.e.s.,5498.359,0.32780,624
2,2,2014,0,Total all flags,008,Albania,87.149,0.00520,22
3,3,2014,0,Total all flags,012,Algeria,1380.595,0.08231,45
4,4,2014,0,Total all flags,016,American Samoa,0.000,0.00000,0
...,...,...,...,...,...,...,...,...,...
49906,49906,2020,0,Total all flags,862,Venezuela (Bolivarian Rep. of),2531.223,0.12341,65
49907,49907,2020,0,Total all flags,876,Wallis and Futuna Islands,0.000,0.00000,0
49908,49908,2020,0,Total all flags,882,Samoa,59.056,0.00288,5
49909,49909,2020,0,Total all flags,887,Yemen,580.613,0.02831,20
49910,49910,2020,0,Total all flags,926,United Kingdom,54297.480,2.64734,1364

In [10]:
df_owners = df_owners.groupby(['Year'])[['Dead weight tons in thousands', 'Number of ships']].sum()

In [11]:
df_owners

      Dead weight tons in thousands  Number of ships
Year
2014                   4.616658e+07          1320323
2015                   4.768194e+07          1346902
2016                   4.976840e+07          1376342
2017                   5.068231e+07          1395563
2018                   5.254061e+07          1439709
2019                   5.404864e+07          1461743
2020                   5.635639e+07          1485737

In [12]:
df_port_calls = pd.read_csv('./Cleaned_Data/cleaned_port_calls.csv')

In [13]:
df_port_calls

,Unnamed: 0,Year,Frequency,Economy Label,CommercialMarket Label,Number of port calls
0,1,2018,A,"""World""","""All ships""",4112944
1,2,2018,A,"""World""","""Passenger ships""",2227407
2,3,2018,A,"""World""","""Liquid bulk carriers""",494120
3,4,2018,A,"""World""","""Container ships""",454016
4,5,2018,A,"""World""","""Dry breakbulk carriers""",430344
5,6,2018,A,"""World""","""Dry bulk carriers""",259551
6,7,2018,A,"""World""","""Roll-on/ roll-off ships""",187532
7,8,2018,A,"""World""","""Liquefied petroleum gas carriers""",49357
8,9,2018,A,"""World""","""Liquefied natural gas carriers""",10617
9,2922,2019,A,"""World""","""All ships""",4362737
10,2923,2019,A,"""World""","""Passenger ships""",2378937
11,2924,2019,A,"""World""","""Liquid bulk carriers""",526202
12,2925,2019,A,"""World""","""Container ships""",474553
13,2926,2019,A,"""World""","""Dry breakbulk carriers""",446817
14,2927,2019,A,"""World""","""Dry bulk carriers""",277872
15,2928,2019,A,"""World""","""Roll-on/ roll-off ships""",190907
16,2929,2019,A,"""World""","""Liquefied petroleum gas carriers""",55227
17,2930,2019,A,"""World""","""Liquefied natural gas carriers""",12222
18,5845,2020,A,"""World""","""All ships""",3906987
19,5846,2020,A,"""World""","""Passenger ships""",2047156
20,5847,2020,A,"""World""","""Liquid bulk carriers""",488876
21,5848,2020,A,"""World""","""Container ships""",459417
22,5849,2020,A,"""World""","""Dry breakbulk carriers""",413961
23,5850,2020,A,"""World""","""Dry bulk carriers""",266337
24,5851,2020,A,"""World""","""Roll-on/ roll-off ships""",166215
25,5852,2020,A,"""World""","""Liquefied petroleum gas carriers""",52639
26,5853,2020,A,"""World""","""Liquefied natural gas carriers""",12386

In [14]:
df_port_calls = df_port_calls[df_port_calls['CommercialMarket Label'] != '"Passenger ships"']
df_port_calls = df_port_calls[df_port_calls['CommercialMarket Label'] != '"Roll-on/ roll-off ships"']

In [15]:
df_port_calls = df_port_calls.drop(columns=['Unnamed: 0', 'Frequency', 'Frequency'], axis= 1)

In [16]:
df_port_calls.index = range(len(df_port_calls.index))

In [17]:
df_port_calls

,Year,Economy Label,CommercialMarket Label,Number of port calls
0,2018,"""World""","""All ships""",4112944
1,2018,"""World""","""Liquid bulk carriers""",494120
2,2018,"""World""","""Container ships""",454016
3,2018,"""World""","""Dry breakbulk carriers""",430344
4,2018,"""World""","""Dry bulk carriers""",259551
5,2018,"""World""","""Liquefied petroleum gas carriers""",49357
6,2018,"""World""","""Liquefied natural gas carriers""",10617
7,2019,"""World""","""All ships""",4362737
8,2019,"""World""","""Liquid bulk carriers""",526202
9,2019,"""World""","""Container ships""",474553
10,2019,"""World""","""Dry breakbulk carriers""",446817
11,2019,"""World""","""Dry bulk carriers""",277872
12,2019,"""World""","""Liquefied petroleum gas carriers""",55227
13,2019,"""World""","""Liquefied natural gas carriers""",12222
14,2020,"""World""","""All ships""",3906987
15,2020,"""World""","""Liquid bulk carriers""",488876
16,2020,"""World""","""Container ships""",459417
17,2020,"""World""","""Dry breakbulk carriers""",413961
18,2020,"""World""","""Dry bulk carriers""",266337
19,2020,"""World""","""Liquefied petroleum gas carriers""",52639
20,2020,"""World""","""Liquefied natural gas carriers""",12386

In [18]:
df_port_calls.to_csv('./Def_Data/df_port_calls.csv')

In [19]:
df_sea_trade = pd.read_csv('./Cleaned_Data/cleaned_sea_trade.csv')

In [20]:
df_sea_trade

,YEAR,YEAR.1,"""CARGO TYPE""","""Crude oil loaded""","""Other tanker trade loaded""","""Dry cargo loaded""","""Total goods loaded""","""Crude oil unloaded""","""Other tanker trade unloaded"""
0,"""1970""","""1970""",NaN,1207.000,233.0000,1165.000,2605.000,1101.000,298.0000
1,"""1971""","""1971""",NaN,1210.000,320.0000,1162.000,2692.000,1199.000,300.0000
2,"""1972""","""1972""",NaN,1321.000,332.0000,1221.000,2874.000,1325.000,316.0000
3,"""1973""","""1973""",NaN,1514.000,353.0000,1407.000,3274.000,1521.000,339.0000
4,"""1974""","""1974""",NaN,1497.000,335.0000,1472.000,3304.000,1470.000,312.0000
5,"""1975""","""1975""",NaN,1364.000,280.0000,1428.000,3072.000,1373.000,287.0000
6,"""1976""","""1976""",NaN,1555.000,289.0000,1522.000,3366.000,1522.000,312.0000
7,"""1977""","""1977""",NaN,1599.000,293.0000,1576.000,3468.000,1585.000,321.0000
8,"""1978""","""1978""",NaN,1604.000,296.0000,1650.000,3550.000,1634.000,321.0000
9,"""1979""","""1979""",NaN,1725.000,318.0000,1785.000,3828.000,1724.000,308.0000
10,"""1980""","""1980""",NaN,1527.000,344.0000,1833.000,3704.000,1530.000,326.0000
11,"""1981""","""1981""",NaN,1364.000,327.0000,1864.000,3555.000,1363.000,310.0000
12,"""1982""","""1982""",NaN,1163.000,350.0000,1760.000,3273.000,1283.000,330.0000
13,"""1983""","""1983""",NaN,1069.000,392.0000,1770.000,3231.000,1133.000,349.0000
14,"""1984""","""1984""",NaN,1079.000,399.0000,1886.000,3364.000,1166.000,371.0000
15,"""1985""","""1985""",NaN,1049.000,410.0000,1895.000,3330.000,1128.000,367.0000
16,"""1986""","""1986""",NaN,1126.000,424.0000,1835.000,3385.000,1220.000,390.0000
17,"""1987""","""1987""",NaN,1107.000,441.0000,1987.000,3505.000,1110.000,408.0000
18,"""1988""","""1988""",NaN,1160.000,456.0000,2119.000,3735.000,1194.000,422.0000
19,"""1989""","""1989""",NaN,1260.000,468.0000,2212.000,3940.000,1300.000,433.0000
20,"""1990""","""1990""",NaN,1287.000,468.0000,2253.000,4008.000,1315.000,466.0000
21,"""1991""","""1991""",NaN,1333.000,457.0000,2330.000,4120.000,1355.000,441.0000
22,"""1992""","""1992""",NaN,1394.000,466.0000,2360.000,4220.000,1414.000,451.0000
23,"""1993""","""1993""",NaN,1443.000,502.0000,2385.000,4330.000,1465.000,480.0000
24,"""1994""","""1994""",NaN,1498.000,509.0000,2478.000,4485.000,1508.000,490.0000
25,"""1995""","""1995""",NaN,1532.000,518.0000,2601.000,4651.000,1550.000,508.0000
26,"""1996""","""1996""",NaN,1590.000,537.0000,2631.000,4758.000,1599.000,480.0000
27,"""1997""","""1997""",NaN,1626.000,546.0000,2781.000,4953.000,1625.000,522.0000
28,"""1998""","""1998""",NaN,1548.000,534.0000,3549.000,5631.000,1515.000,548.0000
29,"""1999""","""1999""",NaN,1553.000,532.0000,3598.000,5683.000,1543.000,510.0000
30,"""2000""","""2000""",NaN,1605.000,558.0000,3821.000,5984.000,1633.000,513.0000
31,"""2001""","""2001""",NaN,1678.000,499.0000,3844.000,6020.000,1712.000,534.0000
32,"""2002""","""2002""",NaN,1637.000,509.0000,3981.000,6127.000,1696.000,540.0000
33,"""2003""","""2003""",NaN,1690.000,533.0000,4257.000,6480.000,1743.000,536.0000
34,"""2004""","""2004""",NaN,1770.000,546.0000,4442.000,6758.000,1773.000,545.0000
35,"""2005""","""2005""",NaN,1857.000,565.0000,4687.000,7109.000,1854.000,573.0000
36,"""2006""","""2006""",NaN,1783.415,914.9099,5003.782,7702.107,1939.890,897.1749
37,"""2007""","""2007""",NaN,1813.685,933.6598,5288.885,8036.231,1996.193,901.6196
38,"""2008""","""2008""",NaN,1784.849,957.1575,5485.523,8227.529,1942.790,932.7750
39,"""2009""","""2009""",NaN,1710.139,931.1412,5176.829,7818.109,1874.597,922.6986
40,"""2010""","""2010""",NaN,1784.592,967.7164,5648.615,8400.924,1939.385,970.5974
41,"""2011""","""2011""",NaN,1750.981,1028.4740,5959.098,8738.553,1897.015,1039.3070
42,"""2012""","""2012""",NaN,1785.425,1054.7080,6357.247,9197.381,1930.007,1055.8430
43,"""2013""","""2013""",NaN,1737.674,1090.5820,6624.669,9452.926,1881.765,1090.6640
44,"""2014""","""2014""",NaN,1711.701,1121.5000,6983.243,9816.443,1850.156,1087.5590
45,"""2015""","""2015""",NaN,1760.751,1178.0500,7074.325,10013.130,1909.958,1175.4690
46,"""2016""","""2016""",NaN,1832.259,1238.1070,7176.248,10246.610,1985.472,1234.7660
47,"""2017""","""2017""",NaN,1874.572,1279.0150,7560.303,10713.890,2033.454,1287.8850
48,"""2018""","""2018""",NaN,1881.053,1319.7450,7818.362,11019.160,2048.803,1338.5500
49,"""2019""","""2019""",NaN,1860.158,1308.3620,7907.397,11075.920,2033.371,1329.3220

In [21]:
df_sea_trade = df_sea_trade.drop(columns=['YEAR.1', '"CARGO TYPE"'], axis=1)

In [22]:
from utils import drop_quot_marks
df_sea_trade = drop_quot_marks(df_sea_trade, 'YEAR')

In [23]:
df_sea_trade['YEAR'] = pd.to_datetime(df_sea_trade['YEAR'])

In [24]:
df_sea_trade.to_csv('./Def_Data/df_sea_trade.csv')

In [25]:
df_ship_buildings = pd.read_csv('./Cleaned_Data/cleaned_ship_buildings.csv')

In [26]:
df_ship_buildings = df_ship_buildings[df_ship_buildings['Country Label'] == 'World']

In [27]:
df_ship_buildings = df_ship_buildings.drop(columns=['Unnamed: 0','Series','ShipType', 'Percentage of total all economies', 'Country', 'Series Label'])

In [28]:
df_ship_buildings = df_ship_buildings.rename(columns={'Gross Tonnage': 'GT built'}, inplace=False)

In [29]:
df_ship_buildings

      Year Country Label ShipType Label  GT built
0     2014         World    Total fleet  63662235
219   2015         World    Total fleet  67876902
438   2016         World    Total fleet  66782739
657   2017         World    Total fleet  65712437
876   2018         World    Total fleet  58045134
1095  2019         World    Total fleet  65910572

In [30]:
df_ship_scrapping = pd.read_csv('./Cleaned_Data/cleaned_ship_scrapping.csv')

In [31]:
df_ship_scrapping

,Unnamed: 0,Year,Series,Series Label,Country,Country Label,ShipType,ShipType Label,Percentage of total all economies,Gross Tonnage
0,0,2017,2307,Ship scrapping by country of destruction,0000,World,0,Total fleet,100.00000,23137868.0
1,1,2017,2307,Ship scrapping by country of destruction,0000u,World n.e.s.,0,Total fleet,0.55387,128154.0
2,2,2017,2307,Ship scrapping by country of destruction,031,Azerbaijan,0,Total fleet,0.00321,742.0
3,3,2017,2307,Ship scrapping by country of destruction,036,Australia,0,Total fleet,0.00000,0.0
4,4,2017,2307,Ship scrapping by country of destruction,050,Bangladesh,0,Total fleet,28.92787,6693292.0
...,...,...,...,...,...,...,...,...,...,...
598,598,2019,2307,Ship scrapping by country of destruction,792,Turkey,0,Total fleet,8.96088,1094811.0
599,599,2019,2307,Ship scrapping by country of destruction,804,Ukraine,0,Total fleet,0.00205,251.0
600,600,2019,2307,Ship scrapping by country of destruction,818,Egypt,0,Total fleet,0.00000,0.0
601,601,2019,2307,Ship scrapping by country of destruction,842,United States of America,0,Total fleet,0.52769,64471.0
602,602,2019,2307,Ship scrapping by country of destruction,926,United Kingdom,0,Total fleet,0.00623,761.0

In [32]:
df_ship_scrapping = df_ship_scrapping[df_ship_scrapping['Country Label'] == 'World']

In [33]:
df_ship_scrapping

,Unnamed: 0,Year,Series,Series Label,Country,Country Label,ShipType,ShipType Label,Percentage of total all economies,Gross Tonnage
0,0,2017,2307,Ship scrapping by country of destruction,0000,World,0,Total fleet,100.0,23137868.0
201,201,2018,2307,Ship scrapping by country of destruction,0000,World,0,Total fleet,100.0,19002604.0
402,402,2019,2307,Ship scrapping by country of destruction,0000,World,0,Total fleet,100.0,12217675.0

In [34]:
df_ship_scrapping = df_ship_scrapping.drop(columns=['Unnamed: 0','Series','ShipType', 'Percentage of total all economies', 'Country', 'Series Label'])

In [35]:
df_ship_scrapping = df_ship_scrapping.rename(columns={'Gross Tonnage': 'GT scrapped'}, inplace=False)

In [36]:
df_ship_scrapping

     Year Country Label ShipType Label  GT scrapped
0    2017         World    Total fleet   23137868.0
201  2018         World    Total fleet   19002604.0
402  2019         World    Total fleet   12217675.0

In [37]:
df_build_scrapp = df_ship_buildings.merge(df_ship_scrapping, how= 'left')

In [38]:
df_build_scrapp.to_csv('./Def_Data/df_build&scrap.csv')

In [65]:
df_trade_volume = pd.read_csv('./Cleaned_Data/cleaned_trade_volume.csv')

In [66]:
df_trade_volume

,Unnamed: 0,Quarter,Quarter Label,Economy,Economy Label,Flow,Flow Label,"""Growth rate","year-on-year""","""Growth rate.1","year-on-year Footnote""",Growth rate (over previous period),Growth rate (over previous period) Footnote,Volume Index (2005=100)
0,1,2005Q01,"""Q1 2005""",0,"""World""",1,"""Imports""",NaN,NaN,NaN,NaN,100.0000,NaN,100.000
1,2,2005Q01,"""Q1 2005""",0,"""World""",2,"""Exports""",NaN,NaN,NaN,NaN,100.0000,NaN,100.000
2,277,2005Q02,"""Q2 2005""",0,"""World""",1,"""Imports""",NaN,NaN,7.67535,NaN,107.6753,NaN,102.842
3,278,2005Q02,"""Q2 2005""",0,"""World""",2,"""Exports""",NaN,NaN,7.72633,NaN,107.7263,NaN,103.197
4,553,2005Q03,"""Q3 2005""",0,"""World""",1,"""Imports""",NaN,NaN,-0.56606,NaN,107.0658,NaN,104.027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,16838,2020Q02,"""Q2 2020""",0,"""World""",2,"""Exports""",-16.21963,NaN,-11.60969,NaN,134.7400,NaN,131.693
124,17113,2020Q03,"""Q3 2020""",0,"""World""",1,"""Imports""",-5.24466,NaN,12.92354,NaN,154.2230,NaN,146.164
125,17114,2020Q03,"""Q3 2020""",0,"""World""",2,"""Exports""",-3.53888,NaN,15.64311,NaN,155.8175,NaN,149.821
126,17389,2020Q04,"""Q4 2020""",0,"""World""",1,"""Imports""",0.21284,NaN,7.18972,NaN,165.3112,NaN,153.442
127,17390,2020Q04,"""Q4 2020""",0,"""World""",2,"""Exports""",-0.00372,NaN,6.07115,NaN,165.2774,NaN,155.597

In [67]:
year = []
for val in df_trade_volume['Quarter']:
    val = int(val[0:4])
    year.append(val)
df_trade_volume['Quarter'] = year

In [68]:
df_trade_volume = drop_quot_marks(df_trade_volume, 'Quarter Label')

In [69]:
quar = []
for val in df_trade_volume['Quarter Label']:
    val = val[:2]
    quar.append(val)
df_trade_volume['Quarter Label'] = quar

In [70]:
df_trade_volume

,Unnamed: 0,Quarter,Quarter Label,Economy,Economy Label,Flow,Flow Label,"""Growth rate","year-on-year""","""Growth rate.1","year-on-year Footnote""",Growth rate (over previous period),Growth rate (over previous period) Footnote,Volume Index (2005=100)
0,1,2005,Q1,0,"""World""",1,"""Imports""",NaN,NaN,NaN,NaN,100.0000,NaN,100.000
1,2,2005,Q1,0,"""World""",2,"""Exports""",NaN,NaN,NaN,NaN,100.0000,NaN,100.000
2,277,2005,Q2,0,"""World""",1,"""Imports""",NaN,NaN,7.67535,NaN,107.6753,NaN,102.842
3,278,2005,Q2,0,"""World""",2,"""Exports""",NaN,NaN,7.72633,NaN,107.7263,NaN,103.197
4,553,2005,Q3,0,"""World""",1,"""Imports""",NaN,NaN,-0.56606,NaN,107.0658,NaN,104.027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,16838,2020,Q2,0,"""World""",2,"""Exports""",-16.21963,NaN,-11.60969,NaN,134.7400,NaN,131.693
124,17113,2020,Q3,0,"""World""",1,"""Imports""",-5.24466,NaN,12.92354,NaN,154.2230,NaN,146.164
125,17114,2020,Q3,0,"""World""",2,"""Exports""",-3.53888,NaN,15.64311,NaN,155.8175,NaN,149.821
126,17389,2020,Q4,0,"""World""",1,"""Imports""",0.21284,NaN,7.18972,NaN,165.3112,NaN,153.442
127,17390,2020,Q4,0,"""World""",2,"""Exports""",-0.00372,NaN,6.07115,NaN,165.2774,NaN,155.597

In [71]:
df_trade_volume = df_trade_volume.drop(columns=['Unnamed: 0', 'Economy', 'Economy Label','Flow', 'Growth rate (over previous period) Footnote'])

In [72]:
df_trade_volume

,Quarter,Quarter Label,Flow Label,"""Growth rate","year-on-year""","""Growth rate.1","year-on-year Footnote""",Growth rate (over previous period),Volume Index (2005=100)
0,2005,Q1,"""Imports""",NaN,NaN,NaN,NaN,100.0000,100.000
1,2005,Q1,"""Exports""",NaN,NaN,NaN,NaN,100.0000,100.000
2,2005,Q2,"""Imports""",NaN,NaN,7.67535,NaN,107.6753,102.842
3,2005,Q2,"""Exports""",NaN,NaN,7.72633,NaN,107.7263,103.197
4,2005,Q3,"""Imports""",NaN,NaN,-0.56606,NaN,107.0658,104.027
...,...,...,...,...,...,...,...,...,...
123,2020,Q2,"""Exports""",-16.21963,NaN,-11.60969,NaN,134.7400,131.693
124,2020,Q3,"""Imports""",-5.24466,NaN,12.92354,NaN,154.2230,146.164
125,2020,Q3,"""Exports""",-3.53888,NaN,15.64311,NaN,155.8175,149.821
126,2020,Q4,"""Imports""",0.21284,NaN,7.18972,NaN,165.3112,153.442
127,2020,Q4,"""Exports""",-0.00372,NaN,6.07115,NaN,165.2774,155.597

In [74]:
df_trade_volume = drop_quot_marks(df_trade_volume, 'Flow Label')

In [76]:
df_trade_volume.rename(columns={'Quarter': 'Year'})

,Year,Quarter Label,Flow Label,"""Growth rate","year-on-year""","""Growth rate.1","year-on-year Footnote""",Growth rate (over previous period),Volume Index (2005=100)
0,2005,Q1,Imports,NaN,NaN,NaN,NaN,100.0000,100.000
1,2005,Q1,Exports,NaN,NaN,NaN,NaN,100.0000,100.000
2,2005,Q2,Imports,NaN,NaN,7.67535,NaN,107.6753,102.842
3,2005,Q2,Exports,NaN,NaN,7.72633,NaN,107.7263,103.197
4,2005,Q3,Imports,NaN,NaN,-0.56606,NaN,107.0658,104.027
...,...,...,...,...,...,...,...,...,...
123,2020,Q2,Exports,-16.21963,NaN,-11.60969,NaN,134.7400,131.693
124,2020,Q3,Imports,-5.24466,NaN,12.92354,NaN,154.2230,146.164
125,2020,Q3,Exports,-3.53888,NaN,15.64311,NaN,155.8175,149.821
126,2020,Q4,Imports,0.21284,NaN,7.18972,NaN,165.3112,153.442
127,2020,Q4,Exports,-0.00372,NaN,6.07115,NaN,165.2774,155.597

In [78]:
df_trade_volume = df_trade_volume.dropna(how='all', axis= 1)

In [79]:
df_trade_volume.to_csv('./Def_Data/df_trade_volume.csv')