In [1]:
import pandas as pd
import dtale
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import datetime
from utils import normalize_dataframe
from utils import count_numbers_in_column

In [28]:
GDPR = pd.read_csv('./Datasets/US_GDPGR.csv', header= None)

In [29]:
GDPR

,0,1,2,3,4,5,6,7
0,Period,Period Label,Economy,Economy Label,Annual average growth rate per capita,Annual average growth rate per capita Footnote,Annual average growth rate,Annual average growth rate Footnote
1,"19701971,""1971"",0000,""World"",2.2902,,4.373,",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"19701971,""1971"",004,""Afghanistan"",-2.89839,,-0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"19701971,""1971"",008,""Albania"",1.56952,,4.00082,",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"19701971,""1971"",012,""Algeria"",-12.00035,,-9.52...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
22815,"20182019,""2019"",862,""Venezuela (Bolivarian Rep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22816,"20182019,""2019"",882,""Samoa"",1.75115,,2.25179,",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22817,"20182019,""2019"",887,""Yemen"",-0.22209,,2.1,",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22818,"20182019,""2019"",894,""Zambia"",-1.4517,,1.44096,",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22819,"20182019,""2019"",926,""United Kingdom"",0.67718,,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
Titles = GDPR.iloc[0, :]

In [31]:
GDPR = normalize_dataframe(GDPR, sep= ',')

In [36]:
GDPR.dropna(how='all',axis= 1)

,Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19701971,"""1971""",0000,"""World""",2.2902,,4.373,,None
2,19701971,"""1971""",004,"""Afghanistan""",-2.89839,,-0.27571,,None
3,19701971,"""1971""",008,"""Albania""",1.56952,,4.00082,,None
4,19701971,"""1971""",012,"""Algeria""",-12.00035,,-9.52272,,None
5,19701971,"""1971""",020,"""Andorra""",-0.65441,,4.64947,,None
...,...,...,...,...,...,...,...,...,...
22815,20182019,"""2019""",862,"""Venezuela (Bolivarian Rep. of)""",-34.15367,,-35,,None
22816,20182019,"""2019""",882,"""Samoa""",1.75115,,2.25179,,None
22817,20182019,"""2019""",887,"""Yemen""",-0.22209,,2.1,,None
22818,20182019,"""2019""",894,"""Zambia""",-1.4517,,1.44096,,None
22819,20182019,"""2019""",926,"""United Kingdom""",0.67718,,1.26091,,None

In [33]:
GDPR.columns = Titles

ValueError: Length mismatch: Expected axis has 9 elements, new values have 8 elements